$color-sidebar: #282828;
$color-tag: #6f7ad3;
$color-opacity: #fff0;
$color-scrollbar-thumb: #80808059;
$color-scrollbar-thumb-active: #9B9B9B;
$color-tag-duplication: #F78989;
$color-document: #f6f9fc;
$color-document-tree: #282828;
