.export-iframe-drawer {
  .markdown-body {
    padding: 0;
  }
  .export-iframe-form {
    overflow-y: auto;
  }
  .el-form-item {
    .el-form-item__label {
      display: block;
      font-weight: bold;
    }
    .el-form-item__content {
      display: block;
      position: relative;

      .export-iframe-copy-btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
}
